
.student-area-official {
    position: absolute; /* Allows it to adjust dynamically */
    left: 200px; /* Starts after Navbar */
    right: 250px; /* Ends before Panel */
    top: 0;
    bottom: 0;
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Hides horizontal scrollbar */
    padding: 20px;
    background: #f9f9f9;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
  
  /* Custom vertical scrollbar */
  .student-area-official::-webkit-scrollbar {
    width: 6px;  /* Slim vertical scrollbar */
  }
  
  .student-area-official::-webkit-scrollbar-thumb {
    background: #00CBCC; /* Base color */
    border-radius: 10px;  /* Rounded scrollbar */
    height: 20px; /* Makes the scrollbar thumb shorter */
  }
  
  .student-area-official::-webkit-scrollbar-track {
    background: #F7F7F7; /* Light background */
    border-radius: 10px;
  }

  .attendance-sign-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .attendance-area {
    width: 320px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
  }

  .attendance-area img {
    width: 250px;
  }

  .attendance-area input {
     padding: 10px 15px;
  }
.attendance-area p {
  text-align:  center;
}

  .attendance-area button {
     background-color: #00CBCC;
     color: white;
     padding: 10px 10px;
     border: none;
     border-radius: 3px;
     margin-top: 20px;
     cursor: pointer;
  }

  .direction-signs-area {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    }

    .direction-signs-area div {
       border-radius: 20px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
    }

    .direction-signs-area div p {
      width: 90%;
      color: white;
      font-size: 15px;
    }

  