
.forget-password-interface {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.forget-password-interface img{
    width: 60%;
}

.f-m {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.forget-password-interface div input {
     width: 100%;
     max-width: 500px;
     height: 30px;
     padding: 5px;
     margin-top: 40px;
     border: none;
     border-radius: 15px;
}



.f-i {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.f-i button {
    background-color: #D3A941;
    color: white;
    height: 48px;
    border-radius: 15px;
    border: none;
    margin: 10px;
    width: 324px;
    margin-top: 50px;
}