
.course-area {
    position: absolute; /* Allows it to adjust dynamically */
    left: 200px; /* Starts after Navbar */
    right: 250px; /* Ends before Panel */
    top: 0;
    bottom: 0;
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Hides horizontal scrollbar */
    padding: 20px;
    background: #f9f9f9;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
  
  /* Custom vertical scrollbar */
  .course-area::-webkit-scrollbar {
    width: 6px;  /* Slim vertical scrollbar */
  }
  
  .course-area::-webkit-scrollbar-thumb {
    background: #00CBCC; /* Base color */
    border-radius: 10px;  /* Rounded scrollbar */
    height: 20px; /* Makes the scrollbar thumb shorter */
  }
  
  .course-area::-webkit-scrollbar-track {
    background: #F7F7F7; /* Light background */
    border-radius: 10px;
  }

  .course-details-area {
     width: 100%;
     background-color: #00CBCC;
     height: 200px;
     border-radius: 10px;
     background: linear-gradient(270deg, #029E9F 37.78%, #028586 100%);
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-bottom: 20px;

  }

  .course-details-area h3, .course-details-area h4, .course-details-area h2 {
     margin: 5px;
  }

  .session-creation-btn {
    width: 95%;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .details-themselves {
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  
  .course-details-area button {
    background-color: #00CBCC;
    color: white;
    padding: 13px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
  }

  .course-class-history-compiled {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .class-itself {
    width: 250px;
    flex-shrink: 0; /* Prevent items from shrinking */

    height: 150px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background: #C9C9C9;
    margin: 10px;
    cursor: pointer;
    font-size: 90%;
  }
   
  .class-history-h1 {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .class-itself div {
     width: 100%;
     display: flex;
     justify-content: end;
     align-items: center;
  }

  .class-itself h2, .class-itself h3, .class-itself h4 {
    margin: 5px;
  }

  