.page-direction-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.settings-for-lecturer h3 {
    width: 100%;
    text-align: start;
}

.profile-area-main-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.page-section-navigator {
     width: 30%;
     display: flex;
     justify-content: start;
     align-items: center;
     flex-direction: column;
     height: 100%;
}

.navigator {
    width: 200px;
    background-color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.navigator div {
     width: 100%;
     display: flex;
     justify-content: start;
     align-items: center;
     flex-direction: row;
     gap: 20px;
}

.navigator div i {
    margin-left: 20px;
}


.navigated-actual-form-area {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.navigated-actual-form-area button {
    padding: 10px 30px;
    background-color: #00CBCC;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 40px;
}

.button-space {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
}

.navigated-actual-form-area h3 {
     width: 100%;
     margin: 10px;
}

.picture-area {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    padding: 5px;
}

.picture-area img {
     width: 130px;
     height: 130px;
     border-radius: 100%;
     margin: 0px 40px;
}

.picture-area button {
     padding: 10px 15px;
     background-color: #00CBCC;
     color: white;
     border: none;
     border-radius: 8px;
}

.form-area-navigated {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top: 30px;
}

.form-area-navigated div {
     width: 60%;
     display: flex;
     justify-content: center;
     align-items: start;
     flex-direction: column;
}

.form-area-navigated div input {
    width: 90%;
    padding: 15px 20px;
    border: none;
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
}

.navigator div {
    padding: 15px 0px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .navigator .active-tab {
    background: grey;
    color: #00CBCC;
    border-radius: 5px;
  }
  