
.courses-page-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.courses-presented-course-section  {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   grid-template-columns:  1fr 1fr 1fr ;
}

.courses-area {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}