.profile-completion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.user-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-img img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.user-update-inputs div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-update-inputs p {
  width: 100%;
  text-align: start;
}

.user-update-inputs input {
   padding: 15px 20px;
   width: 300px;
   border: none;
   background-color: lightgrey;
   border-radius: 8px;
}

.update-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.update-button button {
  background-color: #00CBCC;
  color: white;
  padding: 13px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  width: 150px;
}