.register-interface {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EEEEEE;
}
.register-interface a {
  color: black;
}

.register-interface a::after {
  color: black;
}
.main-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-image-area, .form-input-area {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.featured-image-area {
  width: 65%;
}

.featured-image-area img {
  width: 500px;
}

.top-area, .terms-and-co {
  width: 90%;
  text-align: end;
  color: rgb(184, 184, 184);
}

.form-input-area {
  width: 45%;
  background-color: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  min-height: 100dvh;
}

.main-section div form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-container input {
  width: 250px;
  height: 20px;
  padding: 10px 25px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #F7F7F7;
}

.input-container select {
  width: 300px;
  height: 60px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(240, 240, 240);
}

.signup-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-area img {
  width: 100px;
}


.btn-3 {
  width: 100%;
  max-width: 250px;
  height: 40px;
  background-color: #00CBCC ;
  color: white;
  border: none;
  border-radius: 3px;
  margin: 10px;
}

.continue-with {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 10px;
} 


.continue-with div {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid rgb(216, 216, 216);
  font-size: 80%;
  gap: 10px;
}

.continue-with div img {
  width: 20px;
}

.terms-and-co {
  position: fixed;
  bottom: 0px;
  right: 10px;
}

.top-area {
  position: fixed;
  top: 0px;
  right: 10px;
}

.bacck-arrow {
  position: fixed;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.bacck-arrow img {
  width: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.register-interface {
  animation: fadeIn 0.5s ease-in-out;
}


.or-aspect {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #A8AFC1;
  display: none;
  margin: 0px;
}

.color-area {
  display: none;
}


.navigation-area-and-the-rest {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2%;

}


.this-text {
  display: block;
}

@media screen and (max-width: 900px) {
  .featured-image-area {
    display: none;
  }

  .form-input-area {
    width: 100%;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:  #00CBCC;
  }

  .signup-area h1 {
    color: #00CBCC;
  }

  .bacck-arrow {
    display: none;
  }

  .top-area {
    display: none;
  }

  .bottom-section-area-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px;
  }

  .bottom-section-area-nav a {
    color: #00CBCC;
  }

  .terms-and-co {
    display: none;
  }

  .or-aspect {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    color: #A8AFC1;
    margin-bottom: 20px;
  }

  .line-in0r {
    border: 1px solid #A8AFC1;
    width: 30%;
    font-size: 1px;
    color:  white;
    height: 1px;
    background-color:  #A8AFC1;
  }

  .color-area {
    width: 100%;
    background-color: #00CBCC;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 180%;
    font-weight: bold;
  }

  .this-text {
    display: none;
  }

  .the-form-itself {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40%;
  }

  .the-form-itself-register {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }

  
  .input-container {
    width: 100%;
  }

  .input-container input {
  width: 70%;
  max-width: 450px;
  padding: 15px 20px;
  margin: 10px 10px;
  }

  .input-container select {
   width: 80%;
  max-width: 450px;
  padding: 15px 20px;
  margin: 20px 10px;
  }

  .signup-area {
    width: 100%;
    height: 90%;
    background-color: white;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: start;
    align-items: center;

  }

  .continue-with {
    margin: 0px;
  }

  .navigation-area-and-the-rest {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    margin-top: -10px;
  }
  

}
